################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

BrevardMapper.API/appsettings.json
BrevardMapper.API/appsettings.Development.json